@import url(fonts.css);

*, *::after, *::before, *::content {
    box-sizing: border-box;
    margin: 0;
} 

body {
    background-color: #789fff;
    background-color: #a2bcfc;
    background-color: #5676ba;
    color: #202020;
}

.body-container {
    display: flex;
    justify-content: end;
    background-color: #c5daff;
    min-height: 88vh;
    padding: 3rem 6rem 3rem 3rem;
    transition: all .4s ease;
}

.body-container:hover {
    background-color: #b5cefa;
}

.body-container:hover .subtitle {
    color: #5676ba;
}

h3 {
    color: #838079;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0 0 1.25rem;
    text-transform: uppercase;
}

p, a, li, th, td {
    color: #2b2d35;
    font-size: 18px;
    line-height: 1.35;
}

a {
    color: #226dc8;
}

a:hover {
    color: #287ee5;
    text-decoration: none;
}

hr {
    border: none;
    border-bottom: 1px dotted #8e8e8e;
    margin: 1.75rem 0;
}

.content {
    width: 640px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px dotted #8e8e8e;
    padding-bottom: 1.5rem;
}

.page-links a {
    color: #728ebe;
    font-size: 13px;
    letter-spacing: 4px;
    margin-right: 2rem;
    text-decoration: none;
    text-transform: uppercase;
}

.page-links a:hover {
    color: #ffffff;
}

.nav-link-icon {
    font-size: 80%;
}

.intro {
    color: rgb(78 95 117 / 70%);
    font-size: 1.425rem;
    font-style: italic;
    font-weight: 400;
    margin: 3rem 0 5rem;
}

.subtitle {
    color: #567bba;
    font-size: 5rem; 
    line-height: 1.125; 
    margin: 0;
}

.title {
    color: #908874;
    font-size: 2.875rem;
    font-style: italic;
    font-weight: 400;
    margin: 0rem 0 .5rem;
}

.miyukirin-avatar {
    margin: 2rem 0 3.5rem;
    width: 360px;
}

.contact-table-row {
    display: flex;
    padding: 0 0 12px;
}

.contact-label  {
    color: #908d87;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.35;
    text-transform: uppercase;
    width: 120px;
}

.contact-data {
    line-height: 1.35;
}

.hobby-pic {
    background-color: rgb(40 68 118 / 13%);     
    margin-bottom: 1rem;
    padding: 0 13rem;
    transition: all .2s ease;
    width: 180px;
}

.hobby-pic:hover {
    background-color: rgb(40 68 118 / 16%);   
}

footer {
    display: flex;
    justify-content: end;
    padding: 8px 8px 0;
}

.copyrights {
    color: #c8ced9;
    font-size: 14px;
    letter-spacing: .5px;
    margin: 0;
}

.company {
    color: #c8ced9;
    cursor: pointer;
    font-size: 13.5px;
    text-decoration: none;
    transition: all .2s ease;
}

.company:hover {
    color: #e0e2e6;
    text-decoration: underline;
}